# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
x64/*
out/
build_clang/
built/
build/
!Engine/docs/build/
!Engine/docs/build/**
build_gcc/
vcpkg_installed/
bin/*
Bin/*
.vs/
*.vcxproj.user
backup/
app1/
/updater/Cpp20_Ultimate_Project_Updater/
Cpp20_Ultimate_Project_Updater.exe
update.exe


*.ninja_log
ninja.zip
CMakeUserPresets.json
Engine/CMakeUserPresets.json

*.pdb
*.idb
*.log
*.tlog
Tools/epoch_install.log
Tools/epoch_install.log
Engine/examples/EpochEditor/atlas_dump/
Engine/examples/EpochEditor/atlas_dump_backup/
cache/updates/
cache/packages/
cache/atlases/
Engine/cache/updates/
Engine/cache/packages/
Engine/cache/atlases/

Engine/bin/
Engine/Bin/
Engine/docs/api/

*.cmake
!Engine/cmake/triplets/x64-linux-epoch.cmake
*.bin

project_snapshot.zip
Temp Script Test/
.sandbox/
Projects/
/addons/
/Addons/
addons/
Addons/
Engine/addons/
Engine/Addons/
Engine/examples/EpochEditor/workspace/ai/checkpoints/
Engine/examples/EpochEditor/workspace/ai/models/
Engine/examples/EpochEditor/workspace/ai/cache/
