# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
x64/*
out/
build_clang/
built/
build/
build_gcc/
vcpkg_installed/
bin/*
Bin/*
.vs/
backup/
app1/
/updater/Cpp20_Ultimate_Project_Updater/
Cpp20_Ultimate_Project_Updater.exe
update.exe


*.ninja_log
ninja.zip

*.pdb
*.idb
*.log
*.tlog
Tools/epoch_install.log
Tools/epoch_install.log
Engine/examples/ConsoleApplication1/atlas_dump/

Engine/bin/
Engine/Bin/
Engine/docs/api/

*.cmake
*.bin

project_snapshot.zip
Temp Script Test/
.sandbox/
workspace/auto_train.jsonl
workspace/datasets/auto_train.jsonl
workspace/ai/
