* text=auto

*.h linguist-language=C++
*.c linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.ipp linguist-language=C++
*.inl linguist-language=C++
*.ixx linguist-language=C++
*.cppm linguist-language=C++
*.css linguist-language=C++

CMakeLists.txt linguist-language=CMake
*.cmake linguist-language=CMake

*.sh linguist-language=Shell
*.ps1 linguist-language=PowerShell
*.bat linguist-language=Batchfile
*.cmd linguist-language=Batchfile

*.sh text eol=lf
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.h text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.ipp text eol=lf
*.inl text eol=lf
*.ixx text eol=lf
*.cppm text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

*.vcxproj linguist-language=XML
*.vcxitems linguist-language=XML
*.filters linguist-language=XML
*.props linguist-language=XML
*.targets linguist-language=XML
*.natvis linguist-language=XML
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxitems text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
