// SPDX-License-Identifier: LicenseRef-MIT-NoSell
// Copyright (c) 2026 Adam Rushford
//
// Windows/MSVC resource script for EpochEditor.exe.

#include "resource.h"

#include <winver.h>

IDI_EPOCH_EDITOR ICON "icon.ico"

STRINGTABLE
BEGIN
    IDS_APP_TITLE     "Epoch Editor"
    IDC_EPOCH_EDITOR  "EpochEditorWindowClass"
END

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,87,33,0
    PRODUCTVERSION 0,87,33,0
    FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Epoch Engine"
            VALUE "FileDescription", "Epoch Editor"
            VALUE "FileVersion", "0.87.33"
            VALUE "InternalName", "EpochEditor"
            VALUE "LegalCopyright", "Copyright (c) 2026 Adam Rushford"
            VALUE "OriginalFilename", "EpochEditor.exe"
            VALUE "ProductName", "Epoch Engine"
            VALUE "ProductVersion", "0.87.33"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
